@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
/*
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/
/* Basic */
body {
  font-family:'Gilroy-Regular ☞' !important;
  font-weight:normal;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../../images/augustin-de-montesquiou-Vi9cHboZwss-unsplash\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.img-section {
  /* Rectangle 5 */
  display: flex;
  margin: 70px;
  height: 255px;
  width: 100%;
  left: 157px;
  right: 159px;
  /* top: 3061.08px; */
  padding: 40px;
  color: white;
  background-image: url("../../images/Rectangle\ 5.png");
  background-repeat: no-repeat;
  border-radius: 0px 32px 0px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-section > button {
  margin-top: 20px;
  border-radius: 15px;
}

.nav-item {
  color: white !important;
}

.hearder1 {
  font-weight: 900;
  font-size: 500;
  text-justify: auto;
  margin-left: 150px;
  margin-right: 150px;
}

.text-bold {
  font-size: 25px;
  font-weight: 700;
}

.cards {
  align-items: center !important;
  justify-content: center !important;
  padding: 30px;
  border-radius: 25px;
}
.card-text {
  align-self: center;
}

.card-img-text {
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 30px;
}
.img-card-overlay {
  background-image: url("../../images/pexels-fauxels-3184394\ 1.png");
  background-repeat: no-repeat;
  width: 340px;
  height: 200px;
  /* opacity: 0.5; */
  left: -180px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 30px 0px 0px 0px;
  z-index: 1;
  position: relative;
}
.text-card {
  display: flex;
  flex-direction: column;
  margin-left: -320px;
  height: 25em;
  align-content: center;
  width: 100% !important;
  padding: 40px 70px 40px 50px;
  padding-left: 10em !important;
  padding-right: 10em !important;
  background-color: rgba(142, 211, 173, 0.877);
  /* border-radius: 0px 30px 0px 0px !important; */
}

.text-card > h4 {
  padding-top: 3em;
  text-justify: auto;
  text-align: justify;
  font-weight: 700;
  font-size: 20px;
}
.text-card > p .text-card > h4 {
  margin-left: 500px;
}
.partenaire {
  display: flex;
  width: 100%;
  margin: 40px;
  padding: 40px;
  justify-content: stretch;
}
.partenaire > h2 {
  padding-right: 80px;
}
.brand {
  float: right;
  justify-content: right;
}
.founder {
  margin-top: 50px;
  padding: 40px;
  width: 100%;
  height: 390px;
  background: rgba(4, 191, 138, 0.1);
  border-radius: 0px 20px 0px 0px;
}
.img-card {
  display: flex;
  flex-direction: column;

  padding: 10px;
  position: absolute;
  width: 260px;
  height: auto;
  margin-top: -40px;
  right: 10px;
  color: white;
  top: -40px;
  background: #161616;
  z-index: 0;
  border-radius: 0px 30px 0px 0px;
}
.img-card > img {
  /* position: absolute; */
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0px 30px 0px 0px;
  /*height: 154px;*/
}

.about {
  margin-top: 20px;
  /*margin: 20%;
  background-color: rgba(142, 211, 173, 0.877);*/
}
.about > h4 {
  padding: 50px;
  text-justify: auto;
}

.section-card {
  padding: 100px;
}
.section-card > h2 {
  display: flex;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 30px;
  text-align: center;
  text-justify: auto;
}
.section-card-card {
  padding: -5px !important;
}
.section-card-card > .card-body > .card-title {
  display: flex;
  justify-content: space-between;
}
.section-card-button {
  flex: 1;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.bien-title {
  flex: 1;
  display: flex;
  justify-content: center;
}
.bien-title > h3 {
  margin-bottom: 30px;
}
.immobilier {
  flex: 1;
  display: flex;
  margin-left: 30px;
  flex-wrap: nowrap;
  justify-content: center;
  padding-left: 40px;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);*/
}

.immobilier > .col-3 {
  margin: 0px -20px;
}

.immobilier > .col-3 > .card {
  font-size: 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.immobilier > .col-3 > .card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

a {
  text-decoration: none;
  color: white;
}

.contact {
  width: 70%;
  margin: 100px auto;
  padding: 50px;
  border-radius: 0px 30px 0px 0px !important;
}
.contact > form {
  display: flex;
  justify-content: center;
}

.contact > form > .form-input {
  width: 250px;
  height: 40px;
  padding-top: 6px;
  padding-bottom: 2px;

  background: #FCFCFC;
  border: 2px solid #999898;
  box-sizing: border-box;
  border-radius: 9px;
}
.contact > form > .form-input > input {
  border: none;
  outline: none;
  border-radius: 10px;
  width: 100%;
  padding-left: 40px;
}
.contact > form > .form-input > i {
  position: absolute;
  margin-left: 15px;
  margin-top: 4px;
  color:#999898;
  font-weight: bold;
}
.contact > form > button {
  margin-left: 10px;
}


/* Fonts */
/* Gilroy regular */
.gilroy-regular {
  font-family:'Gilroy-Regular ☞' !important;;
  font-weight:normal;
}
/* Gilroy bold */
.gilroy-bold {
  font-family:'Gilroy-Bold ☞' !important;;
  font-weight:normal;
}
/* Gilroy medium */
.gilroy-medium {
  font-family:'Gilroy-Medium ☞' !important;;
  font-weight:normal;
}
/* Gilroy light */
.gilroy-light {
  font-family:'Gilroy-Light ☞' !important;;
  font-weight:normal;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-green {
  color: #04BF8A;
}

.about-title {
  margin-top: 25px;
  font-size: 1.2em;
}
.font-0-9{
  font-size: 0.9em;
}
.font-0-8{
  font-size: 0.8em;
}
.button-success {
  font-size: 0.9em !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  background: #04BF8A;
  border-color: #04BF8A !important;
  color:#fff;
}
img.partner {
  margin: auto;
}
.card {
  border: 0px !important;
}
.navbar {
  background: transparent !important;
}
.navbar.sticky {
  background: #343a40!important;
  color: #fff !important;
}
.navbar.sticky a {
  color: #fff !important;
}
